<h2 class="m-0 bg-dark text-light p-4 shadow-sm">Payment Systems Demo</h2>

<div class="container-fluid d-flex justify-content-items w-100">
  <div class="p-2 overflow-auto d-flex flex-wrap justify-content-center">
    <div class="border p-2 shadow m-3 d-flex flex-column justify-content-between item-card rounded" 
         *ngFor="let item of items">
      <div>
        <img [src]="item.image" alt="" class="border rounded">
        <h4 class="text-center my-2">{{ item.name }}</h4>
        <div class="text-secondary">{{ item.description }}</div>  
      </div>
     <button class="btn btn-primary w-100 mt-2" (click)="open(item)">Buy: {{ item.price }}$</button>
    </div>
  </div>
</div>
