<form (ngSubmit)="submitStripeForm()" [formGroup]="stripeForm" class="w-100 p-4">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" formControlName="name" id="name" name="name" placeholder="Test" type="text"/>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" formControlName="email" id="email" name="email" placeholder="Email" type="email"/>
  </div>
  <div *ngIf="error" class="form-group text-danger">
    {{error.message}}
  </div>
  <div class="form-group">
    <ngx-stripe-card [elementsOptions]="elementsOptions" [options]="cardOptions"></ngx-stripe-card>
  </div>
  <div class="form-group">
    <input class="btn btn-success w-100" type="submit"/>
  </div>
</form>
