<div>
  <button (click)="onPaymentButtonClick()" *ngIf="paymentUrl">Buy with Crypto (by Coinbase)</button>
  <ng-container *ngIf="!paymentUrl">Getting charge code...</ng-container>
  <div>
    STATUS: {{status}}
  </div>
  <div *ngIf="error" class="text-danger">
    {{error.message}}
  </div>
  <div *ngIf="showPaymentModal && paymentUrl" class="payment-modal">
    <iframe [src]="paymentUrl"
            frameborder="0"
            framescroll="no">
    </iframe>
  </div>
</div>
