<div class="container-fluid p-3 wrapper d-flex flex-column">
  <h2 class="my-2">Choose payments systems
    <button *ngIf="currentTab !== tabType.payments" (click)="currentTab = tabType.payments" class="ml-4 btn btn-link"> < back</button>
  </h2>
  <ng-container *ngIf="currentTab === tabType.payments">
    <div class="row">
      <div *ngFor="let item of paymentSystems" class="col-md-3 text-center">
        <button (click)="currentTab = item.type" class="btn">
          <img [alt]="item.type" [src]="item.image">
        </button>
      </div>
    </div>
  </ng-container>
  <div *ngIf="currentTab !== tabType.payments" class="w-100 overflow-auto">
    <app-paypal *ngIf="currentTab === tabType.paypal" [price]="itemInfo.price"></app-paypal>
    <app-googlepay *ngIf="currentTab === tabType.googlepay" [price]="itemInfo.price"></app-googlepay>
    <app-stripe *ngIf="currentTab === tabType.stripe" [price]="itemInfo.price"></app-stripe>
    <app-coinbase *ngIf="currentTab === tabType.coinbase" [item]="itemInfo"></app-coinbase>
    <app-braintree *ngIf="currentTab === tabType.braintree" [item]="itemInfo"></app-braintree>
    <app-square *ngIf="currentTab === tabType.square" [item]="itemInfo"></app-square>
  </div>
</div>


