<table class="table">
  <thead>
  <tr>
    <th>Brand</th>
    <th>Number</th>
    <th>CVV</th>
    <th>Verification Code</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Visa</td>
    <td>4111 1111 1111 1111</td>
    <td>111</td>
    <td>❌</td>
  </tr>
  <tr>
    <td>Visa EU</td>
    <td>4310 0000 0020 1019</td>
    <td>111</td>
    <td>123456</td>
  </tr>
  <tr>
    <td>MasterCard</td>
    <td>5105 1051 0510 5100</td>
    <td>111</td>
    <td>❌</td>
  </tr>
  <tr>
    <td>MasterCard EU</td>
    <td>5500 0000 0020 1016</td>
    <td>111</td>
    <td>123456</td>
  </tr>
  <tr>
    <td>Discover</td>
    <td>6011 0000 0000 0004</td>
    <td>111</td>
    <td>❌</td>
  </tr>
  <tr>
    <td>Discover EU</td>
    <td>6011 0000 0020 1016</td>
    <td>111</td>
    <td>123456</td>
  </tr>
  <tr>
    <td>Diners Club</td>
    <td>3000 0000 0000 04</td>
    <td>111</td>
    <td>❌</td>
  </tr>
  <tr>
    <td>JCB</td>
    <td>3569 9900 1009 5841</td>
    <td>111</td>
    <td>❌</td>
  </tr>
  <tr>
    <td>American Express</td>
    <td>3400 000000 00009</td>
    <td>1111</td>
    <td>❌</td>
  </tr>
  <tr>
    <td>American Express EU</td>
    <td>3700 000002 01014</td>
    <td>1111</td>
    <td>123456</td>
  </tr>
  <tr>
    <td>China UnionPay</td>
    <td>6222 9888 1234 0000</td>
    <td>123</td>
    <td>❌</td>
  </tr>
  </tbody>
</table>

<div class="w-100 p-4 text-center" id="form-container">
  <label class="d-block">
    <input [(ngModel)]="givenName" class="sq-like-input w-100" placeholder="First name">
  </label>
  <label class="d-block">
    <input [(ngModel)]="familyName" class="sq-like-input w-100" placeholder="Last name">
  </label>
  <label class="d-block">
    <input [(ngModel)]="email" class="sq-like-input w-100" placeholder="Email">
  </label>
  <div id="sq-card-number"></div>
  <div class="third" id="sq-expiration-date"></div>
  <div class="third" id="sq-cvv"></div>
  <div class="third" id="sq-postal-code"></div>
  <button (click)="onGetCardNonce($event)" [disabled]="loading" class="btn btn-lg btn-success" id="sq-creditcard">
    <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
    <span *ngIf="!loading">Pay ${{item.price | number}}</span>
  </button>
</div>
