.sq-like-input {
  font-size: 16px;
  line-height: 24px;
  padding: 16px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid #E0E2E3;
  background-color: transparent;
  border-radius: 6px;
  display: inline-block;
  -webkit-transition: border-color .2s ease-in-out;
  -moz-transition: border-color .2s ease-in-out;
  -ms-transition: border-color .2s ease-in-out;
  transition: border-color .2s ease-in-out;

  &::placeholder {
    color: #a0a0a0;
  }
}

::ng-deep {
  .sq-input {
    box-sizing: border-box;
    border: 1px solid #E0E2E3;
    background-color: white;
    border-radius: 6px;
    display: inline-block;
    -webkit-transition: border-color .2s ease-in-out;
    -moz-transition: border-color .2s ease-in-out;
    -ms-transition: border-color .2s ease-in-out;
    transition: border-color .2s ease-in-out;
  }
}
